<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Computers</title>
    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='jquery-1.10.2.min.js')}}"></script>
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='jquery.dataTables.css')}}">
    <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='jquery.dataTables.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{url_for('static', filename='jquery.dataTables.columnFilter.js')}}"></script>

</head>

<body>
    <h1>Computers in DB</h1>

    <div style="width:100%;text-align: center">
        <p><a href="{{url_for('scan')}}">Scan the Local Network (Netbios)</a> | <a href="{{url_for('logout')}}">Logout</a>
        </p>
    </div>

    {% if info %}
    <h4>{{info}}</h4>
    {% endif %}

    <table id="ComputerTable">
        <thead>
            <tr>
                <th>IP</th>
                <th>Hostname</th>
                <th>Comment</th>
                <th>Update</th>
                <th>Check</th>
                <th>Nmap</th>
                <th>Do</th>
            </tr>
        </thead>
        <tbody>
            {% for computer in computers %}
                <tr>
                    <td>{{computer.ip}}</td>
                    {% if computer.check %}
                        <td style="color:green"> {{computer.hostname}}</td>
                        {% else %}
                        <td style="color:red"> {{computer.hostname}}</td>
                    {% endif%}
                <td> <form action="{{ url_for('comment') }}" method="post"> <textarea type="text" value="{{ computer.comment }}" name="comment">{{ computer.comment }}</textarea> <input type="hidden" value="{{ computer._id }}" name="id"> <input type="submit" value="save"> </form>  </td>
                    <td>{{computer.date}}</td>
                    {% if computer.check %}
                        <td>Yes</td>
                        {% else %}
                        <td> No </td>
                    {% endif %}
                    <td>
                        {% if computer.nmap %}
                        <a href="{{url_for('nmap')}}{{computer._id}}">Show</a>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{url_for('computers')}}?del={{computer._id}}">Delete</a>
                        <a href="{{url_for('scan')}}{{computer._id}}">Scan</a>
                        <a href="{{url_for('computers')}}{{computer._id}}">Check</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
		<tr>
                <th>IP</th>
                <th>Hostname</th>
                <th>Comment</th>
                <th>Update</th>
                <th>Check</th>
                <th>Nmap</th>
                <th>Do</th>
		</tr>
	</tfoot>
    </table>

    <hr/>
    <h3>Actions </h3>

    <h4>Add host</h4>

    <form action="" method="post">
        IP : <input type="text" name="ip"/>
        Hostname : <input type="text" name="hostname"/>
        <input type="submit" value="Add">
    </form>

    <h5>Launch Netbios Scan</h5>
    <a href="{{url_for('scan')}}">Netbios Scan</a>

    <footer>
        <div style="width: 100%;text-align: center">
            <i> Dirty coded by <a href="http://thxer.com">Thxer</a></i>

        </div>
    </footer>
<script>
    $(document).ready(function () {
        $('#ComputerTable').dataTable({
            "pageLength": 255

        }).columnFilter({
            aoColumns: [
                {type: "text"},
                {type: "text"},
                {type: "text"},
                {type: "text"},
                {type: "select"},
                {type: "select", values: ['-', 'Show']},
                    null
            ]
        });
    });

</script>

</body>



</html>